@font-face {
    font-family: inter-bold;
    src: url("./assets/fonts/static/Inter-Bold.ttf");
}

@font-face {
    font-family: inter-extra-bold;
    src: url("./assets/fonts/static/Inter-ExtraBold.ttf");
}

@font-face {
    font-family: inter-regular;
    src: url("./assets/fonts/static/Inter-Regular.ttf");
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 80px 130px;
    gap: 30px;
}

.header {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.pages {
    color: hsl(236, 13%, 42%);
    font-family: inter-regular;
}

.title {
    font-family: inter-bold;
}

.news {
    color: hsl(236, 13%, 42%);
    font-size: 15px;
    font-family: inter-regular;
}

.web {
    width: 750px;
}

picture {
    grid-column: span 2;
}

.new-box {
    grid-row: span 2;
    background-color: hsl(240, 100%, 5%);
    padding: 30px;
    padding-top: 10px;
}

.new-box > .title {
    color: hsl(36, 100%, 99%);
}

.new-box > .news {
    color: hsl(233, 8%, 79%);
}

.new-box > hr {
    border: none;
    border-top: 0.5px solid hsl(233, 8%, 79%);
    margin: 30px 0px;
}

#new {
    color: hsl(35, 77%, 62%);
    font-family: inter-bold;
    font-size: 2rem;
}

#bright-future {
    color: hsl(240, 100%, 5%);
    font-family: inter-extra-bold;
    font-size: 2.8rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.head-news {
    width: 300px;
}

.read-more {
    background-color: hsl(5, 85%, 63%);
    border: none;
    color: hsl(36, 100%, 99%);
    padding: 15px 25px;
    font-family: inter-regular;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.buttom-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 30px;
}

.buttom-box > .title {
    color: hsl(240, 100%, 5%);
}

.buttom-box > .news {
    width: 200px;
}

.number {
    color: hsl(233, 8%, 79%);
    font-family: inter-bold;
    font-size: 2rem;
}

.buttom-box > img {
    grid-row: span 3;
    width: 100px;
}

.buttom-box > p {
    margin: 0px;
}

.pages {
    text-decoration: none;
}

.icon {
    display: none;
}

@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        padding: 10px;
        padding-bottom: 50px;
    }

    .header {
        display: none;
    }

    .web {
        width: 100%;
    }

    #bright-future {
        order: 1;
    }

    .head-news {
        order: 2;
    }

    .new-box {
        order: 3;
    }

    .buttom-box {
        order: 4;
    }
}